.navbar {
    background-color: rgb(14, 14, 14) ;
}
.navbar-item{
    color: white;
}

.navbar-link{
    color: white;
}

.dropdown-navbar{
    color: black;
}

.website-title{
    font-family: 'Patua One', cursive;
    font-style: bold;
    color:white;
}

.search-buttons{
    font-family: 'Patua One', cursive;
}

h1 {
text-align: center;
} 

p {
    text-align: center;
    align-content: center; 
    border: 1px solid white;   
}

.card-header-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topbox{
       background-color: black;
   }

.page-content{
    background-color: black;
    font-family: 'Patua One', cursive;
}

.column{
    border-style:solid;
    border-color: slategray;
}

.topBoxItems{

}

.card-background{
    background-color: darkslategray;
}

align-content: right; 
border: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
}
